// app global css in SCSS form

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

// Custom Scrollbar for Webkit
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

// Global utility for text selection
::selection {
  background: $primary;
  color: #ffffff;
}
